* {
  padding: auto;
  margin: 0;
}

html,
body {
  font-size: 18px;
  background-color: #1b1b32;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}
